@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
    from {
        opacity: 0.7;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

/* src/styles/mapPopup.css or your global CSS */
.custom-popup .leaflet-popup-content-wrapper {
  background: rgba(10, 25, 60, 0.85); /* slightly dark blue + transparency */
  border: 2px solid #3b82f6; /* blue border */
  color: white; /* text color */
  border-radius: 12px;
  font-size: 0.5rem; /* smaller text */
  font-weight: 100; /* lighter font */
  padding: 0.3rem 0.5rem; /* slightly reduced padding */
}

.custom-popup .leaflet-popup-tip {
  background: rgba(10, 25, 60, 0.85); /* match popup background */
}

